---
import Layout from '../layouts/Layout.astro';
import type {LayoutType} from '../layouts.ts'
import x from 'y';

return new Response('This is 404', { status: 404 });
---

<Layout title="Hello, world!">
  <main>
    Hello, world!</main>
</Layout>
