name: ci
on: [push, pull_request]
jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node: [14.x, 16.x, 18.x]
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node }}
                  #   cache: 'yarn'
                  #   cache-dependency-path: 'yarn.lock' # Something weird was happening?
            - run: yarn install --frozen-lockfile --non-interactive
            - name: Test
              run: yarn test
            - name: Check formatting
              run: yarn format:check
